@import "tailwindcss";

:root {
  --background: #191919;
  --foreground: #D9D9D9;
  --main: rgba(177,157,255,1);
  --main-shade: rgba(106,96,146,1);
  --dark-1: rgba(25,25,25,1);
  --dark-2: rgba(33,33,33,1);
  --gray-1: rgba(98,98,98,1);
  --gray-2: rgba(110,110,110,1);
  --gray-3: rgba(217,217,217,1);
}

@theme {
  --color-background: #191919;
  --color-text: #D9D9D9;
  --color-main: rgba(177,157,255,1);
  --color-main-shade: rgba(106,96,146,1);
  --color-main-shade-secondary: rgba(155,141,211,1);
  --color-dark-950: var(--dark-1);
  --color-dark-900: var(--dark-2);
  --color-gray-600: var(--gray-1);
  --color-gray-500: var(--gray-2);
  --color-gray-400: var(--gray-3);
  --color-login-normal: rgba(13,13,13,1);
  --color-login-hover: var(--main-shade);
  --color-login-active: var(--gray-1);
  --color-login-disabled: var(--dark-2);
  --color-login-secondary-normal: rgba(51,51,51,1);
  --color-login-secondery-hover: rgba(236,236,236,1);
  --color-login-stroke: rgba(205,205,205,1);
  --color-login-text-on-dark: rgba(255,255,255,1);
  --color-login-text-on-white: rgba(13,13,13,1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --color-text: #D9D9D9;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}


@layer base 
{
  body {
    background: var(--background);
    color: var(--color-text);
  }

    /* Hide arrows in number input (Chrome, Safari, Edge) */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}
